* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: grey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  width: 90%;
}

.displays {
  height: 20%;
  background: rgb(187, 185, 185);
  width: 100%;
  text-align: right;
  font-weight: bold;
  padding: 1.3rem;
  font-size: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.tempResult {
  color: rgba(44, 4, 117, 0.603);
  font-size: 1rem;
  position: absolute;
  bottom: 0.8rem;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;

  border: 0.5px solid rgb(10, 10, 10);
  height: 80px;
  border-radius: 7px;
}

.button:hover {
  background: red;
  color: white;
}

.equal {
  grid-column: span 2;
}
